<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- HikariCP -->
    <logger name="com.zaxxer.hikari" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Netty (Shaded) -->
    <logger name="io.grpc.netty.shaded" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>